footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
